In [1]:
import warnings


random_state = 42
warnings.filterwarnings("ignore")

# Data Processing

In [2]:
import pandas as pd


train_df = pd.read_csv("train.csv")
train_df = train_df.sample(frac=0.9, random_state=random_state).reset_index(drop=True)

X_train = train_df.iloc[:, 1:-1]
y_train = train_df.iloc[:, -1].map(lambda x: 1 if x >= 85 else 0)

# Missing value Analysis
print("Missing Values:")
print(train_df.isnull().sum())

# Label distribution
print("Number of positive labels:", y_train.sum())
print("Number of negative labels:", len(y_train) - y_train.sum())

train_df

Missing Values:
ID                            0
Material                      0
Type                          0
Shape                         0
Coat/Functional Group       999
Synthesis_Method              0
Surface_Charge                0
Cell_Type                     0
No_of_Cells (cells/well)      0
Human_Animal                  0
Cell_Source                   0
Cell_Tissue                   0
Cell_Morphology               0
Cell_Age                      0
Cell Line_Primary Cell        0
Time (hr)                     0
Concentration (ug/ml)         0
Test                          0
Test_Indicator                0
Size                          0
Zeta                          0
Target                        0
dtype: int64
Number of positive labels: 816
Number of negative labels: 782

,ID,Material,Type,Shape,Coat/Functional Group,Synthesis_Method,Surface_Charge,Cell_Type,No_of_Cells (cells/well),Human_Animal,...,Cell_Morphology,Cell_Age,Cell Line_Primary Cell,Time (hr),Concentration (ug/ml),Test,Test_Indicator,Size,Zeta,Target
0,916,Pt,I,Sphere,Citrate,Commercial,Negative,HepG2,30000.0,H,...,Epithelial,Adult,L,24,25.00,MTS,TetrazoliumSalt,68.30,-40.60,94.4750
1,1618,Pt,I,Sphere,PVP,Chemical Reduction,Negative,IMR90,5000.0,H,...,Fibroblast,Adult,L,24,50.00,CellTiterGlo,LuciferaseEnzyme,4.00,-8.00,93.9020
2,1334,PLGA,O,Sphere,NaN,Emulsion-Solvent Evaporation,Negative,BALB/c3T3,20000.0,A,...,Fibroblast,Embryonic,L,24,540.00,MTT,TetrazoliumSalt,95.00,-20.50,104.4200
3,1732,IronOxide,I,Sphere,PEG-FA,Solvothermal Process,Negative,SKOV-3,100000.0,H,...,Epithelial,Adult,L,48,10.00,MTT,TetrazoliumSalt,326.50,-23.50,92.9790
4,2351,IronOxide,I,Sphere,Silica-FA,Solvothermal Process,Negative,SKOV-3,100000.0,H,...,Epithelial,Adult,L,24,0.50,MTT,TetrazoliumSalt,274.10,-27.70,87.8730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,295,Chitosan,O,Irregular,NaN,Ionotropic Gelation Method,Positive,MBMC,10000.0,A,...,Spindle,Adult,P,24,31.25,MTT,TetrazoliumSalt,684.80,74.40,102.5800
1594,1995,Ag,I,Sphere,Citrate-Lactose,Chemical Reduction,Negative,HDF,3000.0,H,...,Fibroblast,Adult,L,24,100.00,MTS,TetrazoliumSalt,50.00,-31.00,62.4040
1595,2443,Ag,I,Sphere,NaN,Commercial,Negative,HeLa,10000.0,H,...,Epithelial,Adult,L,48,20.00,MTT,TetrazoliumSalt,29.57,-33.33,9.6308
1596,605,Pt,I,Sphere,FA,Chemical Reduction,Negative,IMR90,5000.0,H,...,Fibroblast,Adult,L,24,200.00,CellTiterGlo,LuciferaseEnzyme,12.50,-40.50,33.9710
1597,1164,SiO2,I,Sphere,NaN,Hydrolysis,Negative,HepG2,5000.0,H,...,Epithelial,Adult,L,24,200.00,AlamarBlue,AlamarBlue,289.76,-28.00,81.6250

In [3]:
test_df = pd.read_csv("test.csv")
X_test = test_df.iloc[:, 1:]

# Missing Value Analysis
print("Missing Values:")
print(test_df.isnull().sum())

X_test

Missing Values:
ID                            0
Material                      0
Type                          0
Shape                         0
Coat/Functional Group       475
Synthesis_Method              0
Surface_Charge                0
Cell_Type                     0
No_of_Cells (cells/well)      0
Human_Animal                  0
Cell_Source                   0
Cell_Tissue                   0
Cell_Morphology               0
Cell_Age                      0
Cell Line_Primary Cell        0
Time (hr)                     0
Concentration (ug/ml)         0
Test                          0
Test_Indicator                0
Size                          0
Zeta                          0
dtype: int64

,Material,Type,Shape,Coat/Functional Group,Synthesis_Method,Surface_Charge,Cell_Type,No_of_Cells (cells/well),Human_Animal,Cell_Source,Cell_Tissue,Cell_Morphology,Cell_Age,Cell Line_Primary Cell,Time (hr),Concentration (ug/ml),Test,Test_Indicator,Size,Zeta
0,Ag,I,Sphere,Citrate,Commercial,Negative,CCL-110,5000,H,Human,Skin,Fibroblast,Fetus,P,24,0.50,MTS,TetrazoliumSalt,39.94,-23.5
1,Chitosan,O,Irregular,NaN,Ionotropic Gelation Method,Positive,MBMC,10000,A,Mouse,BoneMarrow,Spindle,Adult,P,72,31.25,MTT,TetrazoliumSalt,475.20,71.3
2,NiO,I,Sphere,NaN,Commercial,Positive,HepG2,10000,H,Human,Liver,Epithelial,Adult,L,24,100.00,MTS,TetrazoliumSalt,21.60,25.3
3,TiO2,I,Sphere,NaN,Commercial,Negative,A549,30000,H,Human,Lung,Epithelial,Adult,L,48,10.00,MTT,TetrazoliumSalt,81.80,-8.6
4,Chitosan,O,Irregular,NaN,Ionotropic Gelation Method,Positive,MBMC,10000,A,Mouse,BoneMarrow,Spindle,Adult,P,24,1000.00,MTT,TetrazoliumSalt,384.60,62.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,Au,I,Sphere,CYS,Chemical Reduction,Negative,L929,5000,A,Mouse,SubcutaneousConnectiveTissue,Fibroblast,Adult,L,24,5.00,MTT,TetrazoliumSalt,25.76,-46.8
758,MWCNT,C,Nanotube,NaN,Commercial,Neutral,HUVEC,40000,H,Human,Umbilical Vein,Endothelial,Embryonic,P,24,32.00,NRU,NeutralRed,17.60,0.9
759,PLGA,O,Sphere,Chitosan,Emulsion-Solvent Evaporation,Positive,Colo_205,10000,H,Human,Colon,Epithelial,Adult,L,24,1250.00,MTS,TetrazoliumSalt,204.00,10.0
760,C60,C,Sphere,Dextran,Commercial,Negative,C6,10000,A,Rat,Brain,Fibroblast,Adult,L,24,25.00,MTT,TetrazoliumSalt,30.00,-16.9
761,Ag,I,Sphere,Liposome,Chemical Reduction,Negative,THP-1,10000,H,Human,Blood,Monocyte,Adult,L,24,5.00,AlamarBlue,AlamarBlue,82.73,-31.9

## Feature Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder


cat_cols = X_train.select_dtypes(include=["object"]).columns.tolist()
encoder = LabelEncoder()

for cols in cat_cols:
    X_train[cols] = encoder.fit_transform(X_train[cols])
    X_test[cols] = encoder.transform(X_test[cols])

X_train

,Material,Type,Shape,Coat/Functional Group,Synthesis_Method,Surface_Charge,Cell_Type,No_of_Cells (cells/well),Human_Animal,Cell_Source,Cell_Tissue,Cell_Morphology,Cell_Age,Cell Line_Primary Cell,Time (hr),Concentration (ug/ml),Test,Test_Indicator,Size,Zeta
0,20,1,6,6,4,0,25,30000.0,1,2,14,1,0,0,24,25.00,7,7,68.30,-40.60
1,20,1,6,23,1,0,26,5000.0,1,2,15,2,0,0,24,50.00,3,4,4.00,-8.00
2,17,2,6,31,6,0,7,20000.0,0,4,9,2,1,0,24,540.00,8,7,95.00,-20.50
3,13,1,6,21,18,0,44,100000.0,1,2,16,1,0,0,48,10.00,8,7,326.50,-23.50
4,13,1,6,28,18,0,44,100000.0,1,2,16,1,0,0,24,0.50,8,7,274.10,-27.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6,2,2,31,11,2,32,10000.0,0,4,3,11,0,1,24,31.25,8,7,684.80,74.40
1594,0,1,6,7,1,0,16,3000.0,1,2,20,2,0,0,24,100.00,7,7,50.00,-31.00
1595,0,1,6,31,4,0,24,10000.0,1,2,6,1,0,0,48,20.00,8,7,29.57,-33.33
1596,20,1,6,13,1,0,26,5000.0,1,2,15,2,0,0,24,200.00,3,4,12.50,-40.50
1597,23,1,6,31,10,0,25,5000.0,1,2,14,1,0,0,24,200.00,0,0,289.76,-28.00

# Model Training

In [5]:
import numpy as np
from tabpfn import TabPFNClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score, matthews_corrcoef


def evaluate(model, X, y) -> float:
    """
    Evaluates the model using R2 and Matthews correlation coefficient.
    """
    y_pred = np.round(model.predict(X), 4)
    mcc = matthews_corrcoef(y, y_pred)
    print(f"- MCC Score: {mcc:.4f}")
    return mcc


model = TabPFNClassifier(random_state=random_state)
k_fold = KFold(n_splits=5, shuffle=True, random_state=random_state)

mcc_scores = []

for fold, (train_idx, val_idx) in enumerate(k_fold.split(X_train)):
    print(f"Fold {fold + 1} " + "-" * 20)
    X_train_fold, X_val_fold = X_train.iloc[train_idx], X_train.iloc[val_idx]
    y_train_fold, y_val_fold = y_train.iloc[train_idx], y_train.iloc[val_idx]
    print(f"Train set size: {X_train_fold.shape}, Validation set size: {X_val_fold.shape}")

    model.fit(X_train_fold, y_train_fold)

    mcc = evaluate(model, X_val_fold, y_val_fold)
    mcc_scores.append(mcc)

print("Average results " + "-" * 20)
print(f"- MCC Score: {np.mean(mcc_scores):.4f}")

Fold 1 --------------------
Train set size: (1278, 20), Validation set size: (320, 20)
- MCC Score: 0.7605
Fold 2 --------------------
Train set size: (1278, 20), Validation set size: (320, 20)
- MCC Score: 0.7467
Fold 3 --------------------
Train set size: (1278, 20), Validation set size: (320, 20)
- MCC Score: 0.6674
Fold 4 --------------------
Train set size: (1279, 20), Validation set size: (319, 20)
- MCC Score: 0.6800
Fold 5 --------------------
Train set size: (1279, 20), Validation set size: (319, 20)
- MCC Score: 0.7680
Average results --------------------
- MCC Score: 0.7245

# Inference

In [6]:
from time import time


start_time = time()
y_pred = model.predict(X_test)
end_time = time()
print(f"Inference time: {end_time - start_time:.4f} seconds")

submission_reg = pd.DataFrame({"ID": test_df["ID"], "Target": y_pred})
submission_reg.to_csv("results/main/c_tabpfn-v2-90.csv", index=False)
submission_reg

Inference time: 0.2372 seconds

       ID  Target
0      32       1
1     376       1
2      71       0
3    2232       0
4    2018       1
..    ...     ...
757  2356       1
758    64       1
759   649       1
760  1484       0
761   867       1

[762 rows x 2 columns]